<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Resepti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        
        <h2>Valmiit reseptit</h2><ol style="list-style: none;">
            <li  th:each="reseptit : ${reseptit}">
                <a th:href="@{~/annos}">
                    <span th:text="${reseptit}">Resepti</span> 
                </a>
            </li>
        </ol>
        
        <b>Lisää uusi resepti</b>
        <form method="POST" action="/annos">
            <div>
                Nimi: <input type="text" name="uusi"/><br/>
            </div>
            <div>
                <input type="submit" value="Lähetä"/>
            </div>
        </form>
    </body>

</html>